venv/
.venv/
env/


__pycache__/
*.pyc

.ini
alembic.ini


.env

static/products/*
static/
static/*
static/products

ts/*

pytest.ini
.ini*
.coverage

.VSCodeCounter/*

techshop-frontend/*
techshop-frontend/

.env.local
.env.docker

frontend/
