# Виртуальное окружение
venv/
.venv/
env/

# Python кэш
__pycache__/
*.pyc

# Конфиденциальные данные
.env

# База данных (если используешь SQLite локально)
*.sqlite3
*.db

# Статика (фотки товаров не стоит заливать в репозиторий кода)
static/products/*